name: Publish Docker Image

on:
  release:
    types: [published]
  schedule:
    - cron: '0 3 * * 3'
  workflow_dispatch:

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Debian based images
        id: push-debian
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/debian/Dockerfile
          push: true
          tags: dantes2104/drbd-builder:debian,ghcr.io/edmondantes/drbd-builder:debian

      - name: Build and push Ubuntu based images
        id: push-ubuntu
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/ubuntu/Dockerfile
          push: true
          tags: dantes2104/drbd-builder:ubuntu,ghcr.io/edmondantes/drbd-builder:ubuntu
